// United 3.3.1
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Ubuntu");

// Navbar =====================================================================

.navbar {

  &-default {

    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }
}

// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================
// Morea customizations =========================================================

body {
  padding-top: 51px;  /* Move body of page below navbar. */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: @brand-primary;
}

body, footer, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

}

.footer-background {
  background-color: lighten(@brand-primary, 10%);
}

.page-footer {
  color: @navbar-default-brand-color;
  padding: 10px;
  text-align: center;
}

.page-footer a {
  color: darken(@navbar-default-brand-color, 20%);
}

.section-background-1 {
  background-color: lighten(@brand-primary, 45%);
}

.section-background-2 {
  background-color: @body-bg;
}

.white-background {
  background-color: #FFF;
}

.navbar-default .navbar-brand:hover  {
  color: lighten(@brand-primary, 40%);
}

.morea-img-hover:hover {
    border: 1px solid @brand-primary;
}



.thumbnail {
  border: 2px solid @thumbnail-border;
}

a.thumbnail:hover {
  background: darken(@thumbnail-bg, 5%);
  text-decoration: none;
}

a.thumbnail {
  color: @text-color;
}

/* For mysterious reasons, bootstrap sets this to 0px. 10px is better. */
ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 10px;
}

.breadcrumb-bar {
  background-color: lighten(@brand-primary, 25%);
}
.breadcrumb {
  background-color: lighten(@brand-primary, 25%);
  margin-bottom: 0px;
  padding-left: 0px;
}

.breadcrumb > .active {
  color: @text-color;
}